
html{
    display:flex;
    justify-content:center;

}


body{
display:flex;
justify-content: center;
align-items: center;
width:100vw;
height: 100vh;

}

#quote-box{
    position: relative;
    width:100%;
    height:100%;
    border: none;
}

#quote-wrapper {
    width: 55vh;
    height: 55vh;
    position: absolute;
    border: 0px solid rgba(39, 39, 39, 0.897);
    box-shadow: 5px 5px 5px rgba(63, 117, 153, 0.801);
    border-radius: 50%;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%); 

}

div{
    border : 1px solid green;
}

#tweet-quote{
    border: 1px solid brown;
    position:absolute;
    top:90%;
    left:50%;
    transform: translate(-50%);
}

#new-quote{

    position: absolute;
    top:82%;
    left:50%;
    transform: translate(-50%);
    height: 4.5vh;
    width:14h;
    max-width: 150px;
    font-size:calc(1vh + 0.8vw);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align:center;
    border-radius: 2vh;    

}


#author{
    display:inline-block;
    position:absolute;
    top: 85%;
    left:50%;
    transform: translate(-50%);
    border: none;
    font-size: calc(2.5vh + 0.5vw);
    text-align: center;
}

#textbox {
    position : absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    display: flex;
    justify-content: center;
    border: none;
    width: 70vw;
    height: 35vh;
    overflow:auto;
}
    


#main-quote-text{
    
    font-size: calc((0.1*35vh) + (0.007*70vw));  
    text-align: center;
    border: none;
  

}
    
.quote-mark {
    font-size: 5vh;
}


#tweet-quote {
    font-size: 5vh;
    border: none;
}

#theme-switch{
    position:absolute;
    top:3%;
    left:50%;
    font-size: 3.5vh;
}



/*Light theme*/
.light-bg-theme {
    background: radial-gradient( rgba(224, 224, 79, 0.979) 0%, skyblue 80%);

}

.quote-text-light-theme {

    color:rgb(163, 25, 25);
    font-family : Arial,  sans-serif;
    font-weight: 800;
    
}

.author-text-light-theme {
    color:rgb(32, 32, 30);
    font-family: Arial, Helvetica, sans-serif;
    font-weight:200;
}

.button-color-light-theme{
    border-color: rgba(142, 224, 117, 0.747);
    background-color: rgb(241, 245, 241);
    color:black;

}

.tweet-light-theme{
    color: rgb(19, 130, 138);
}

.switch-light-theme{

    color:rgb(72, 83, 100);
}

.switch-light-theme:hover{
    color:rgb(39, 47, 59);
}

/* Dark theme */

.dark-bg-theme {

    background:  radial-gradient(rgb(13,14,61) 0%,rgb(27, 27, 43) 70%)
}

.quote-text-dark-theme{
    color:rgb(213, 223, 243);
    font-family: 'Haettenschweiler', 'Arial Narrow Bold', sans-serif ;
    font-weight:300;
}

.author-text-dark-theme{
    color:rgb(67, 163, 201);
    font-family: Arial, Helvetica, sans-serif;
    font-weight:200;
}

.button-dark-theme{
    background-color: rgb(42, 42, 78);
    border-color: rgba(226, 236, 250, 0.747);
    color:rgb(218, 222, 247);

}

.tweet-dark-theme{
    color:rgb(110, 136, 184)
}

.switch-dark-theme{
    color: rgb(197, 202, 207);
}

.switch-dark-theme:hover {
    color:aliceblue;
}
